<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".helper.ApiConfig"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weagri"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.DataEntryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangepasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SelltomarketActivity"
            android:exported="false" />
        <activity
            android:name=".gateway.PaymentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".gateway.MainActivity"
            android:exported="false" />
        <activity
            android:name=".gateway.SelectPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResetotpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgototpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QrActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InviteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScartchcardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyProductionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="ratingsweb.graymatterworks.com"
                    android:pathPrefix="/?refer_code="
                  />
            </intent-filter>

        </activity>
        <activity
            android:name=".upismartintent.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.WithdrawalStatusActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RechargeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfiledetailsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdatebankActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WithdrawalActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.slve.ratingjob.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Keep it true in UAT environment for both the flags -->
        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="true" />
        <meta-data
            android:name="com.phonepe.android.sdk.isSimulator"
            android:value="true" /> <!-- The value will be the MID -->
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="ATMOSTUAT" />
    </application>

</manifest>